@tailwind base;
@tailwind components;
@tailwind utilities;

h3,
p,
h4 {
  font-family: "Karla", sans-serif;
}

[data-theme="dark"] label,
h2,
p {
  color: rgb(226 232 240);
}

[data-theme="light"] label {
  color: rgb(31 41 55);
}

[data-theme="dark"] input:focus {
  outline-width: 2.5px;
  outline-color: rgb(226 232 240);
  outline-offset: 1.5px;
}
[data-theme="light"] input:focus {
  outline-width: 2.5px;
  outline-color: rgb(31 41 55);
  outline-offset: 1.5px;
}

.bg-form-img {
  background-size: contain;
}

@media (min-width: 640px) {
  .custom-modal-box {
    width: 40%;
    /* max-width: 300px; */
  }
}

.slider-container {
  width: 100%;

  justify-content: center;
}

.slider-wrapper,
.slick-prev {
  left: -50px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 2.5rem !important;
}

[data-theme="dark"] .slick-prev:before,
[data-theme="dark"] .slick-next:before {
  color: rgb(226 232 240) !important;
}

[data-theme="light"] .slick-prev:before,
[data-theme="light"] .slick-next:before {
  color: rgb(31 41 55) !important;
}

.slick-dots li button:before {
  color: orangered !important;
  font-size: 0.7rem !important;
  margin-left: 50px !important;
}
